

.forum-page {
   padding: 2rem;
   max-width: 800px;
   margin: auto;
}

.forum-page h1 {
   color: var(--orange);
   text-align: center;
}

.question-all {
   margin-top: 1.5rem;
   background-color: var(--background-light);
   border-radius: 8px;
   padding: 1rem;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.question-forum input,
.question-forum textarea,
.reply-forum input,
.reply-forum textarea {
   width: 100%;
   margin: 0.5rem 0;
   padding: 0.5rem;
   border: 1px solid var(--orange);
   border-radius: 5px;
}

.question-forum button,
.reply-forum button {
   background-color: var(--orange);
   color: white;
   border: none;
   padding: 0.5rem;
   border-radius: 5px;
   cursor: pointer;
}

.answer {
   margin: 1rem 0;
   padding: 1rem;
   background-color: var(--background-light);
   border: 1px solid var(--orange);
   border-radius: 5px;
}

.question-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.delete-btn,
.delete-btn-small {
   background-color: transparent;
   color: red;
   border: none;
   font-size: 1rem;
   cursor: pointer;
}

ul {
   padding-left: 20px;
}

.reply-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}